@charset 'utf-8';

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
/* common */
html {
  font-size: 10px;
}
body {
  font-family: "Pretendard-Regular";
  font-size: 1.4rem;
  max-width: 1000px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #333;
}
.btn {
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
}

/* 스크린 리더기용 
margin 대신 text-indent 사용*/
.screen-out {
  display: inline-block;
  text-indent: -9999px;
}
/* header */
header {
  max-width: 1000px;
  height: 72px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
a,
button {
  cursor: pointer;
}

.main-nav ul {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 14px;
}
.main-nav li {
  font-weight: 900;
}

/* 유틸리티 */
.util-nav {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

/* background-image 넣기????? */
.util-search {
  background: url(/img/Search.png) no-repeat cover;
}
.util-english {
  background: url(/img/Globe.png) no-repeat 20px;
}
.util-darkMode {
  background: url(/img/Crescent\ Moon.png) no-repeat 20px;
}

/* main */
main {
  /* max-width: 1000px; */
}
main .today-kakao::before {
  display: inline-block;
  content: "";

  background: url(/img/9.png) no-repeat 24px 24px;
}

main .today-kakao {
  color: #333;
  font-size: 24px;
  font-weight: 900;
}
main .item-box-container {
  display: flex;
  justify-content: center;
  max-width: 1050px;
  height: 876px;
}
main .item-box {
  width: 480px;
  background-color: #eee;
  padding: 10px;
}
main .article-left {
}
main .article-right {
  display: flex;
}
